/*
    vars
*/

/***********************************
 *  1. colors
 ***********************************/

$nuclear-green: #02e30d;
$clear-blue: #0b4e9b;
// safety yellow
$safety-yellow: #f6ff00;
// fire engine red
$fire-red: #c11916;

// ansi VGA term colors
$cyan: cyan;
$blue: blue;
// VGA magenta
$purple: #AA00AA;
$green: rgb(40, 230, 40);
$red: #ff0000;
$orange: orange;
$light-orange: yellow;

// body colors
$body-text-color: #e1e6ff;
$background: #1b1f32;
$code-background: #444b6f;
$light-gray: hsl(0, 0%, 40%);
$gray: hsl(0, 0%, 75%);

// link type colors
$link-color: #7289fd;
$dir-color: #7289fd;
$file-color: #75d5f0;
$symlink-color: #8a75f5;

.color-nuclear-green {
    color: $nuclear-green;
}
.color-clear-blue {
    color: $clear-blue;
}
.color-vga-magenta { color: $purple; }
.color-vga-red { color: $red; }

h1, h2, h3, h4, h5 {
    color: #7289fd;
}

/***********************************
 *  2. fonts
 ***********************************/

$font-size-base: 12pt;
$font-family-code: "Fira Code", monospace, serif;
$font-family: $font-family-code;

/***********************************
 *  3. dimensions
 ***********************************/

$lh: 1.5rem; // vertical rhythm
$max-width: 80ch;
$breakpoint-wide: $max-width + 12ch;
